@font-face {
  font-family: 'Fournier';
  src: url('./assets/fonts/Fournier/33F1D6_0_0.woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fournier','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
